body {
  /* background: url('https://travellingprogrammer.files.wordpress.com/2013/01/dahi.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
  background-color: gray;
}

/* Navigation bar */

nav {
  margin-bottom: 80px;
}
.topnav {
    background-color: #000;
    padding: 10px 0px 10px 5px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 3px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #FFC112;
}

.nav-buttons {
 text-decoration: none;
 color: white;
 font-size:15px;
 font-family: 'Press Start 2P', 'Roboto Condensed', 'Coda Caption', sans-serif;
}

.logo {
 filter: invert(100%);
}

.div-image-1 {
 display: flex;
}

.header-logo {
  align-items: center;
}


/* Glitch */
.glitch {
  position: relative;
  color: white;
  mix-blend-mode: lighten;

  &:before,
  &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      width: 100%;
      background: black;
      clip: rect(0, 0, 0, 0);
  }

  &:before {
      left: -1px;
      text-shadow: 1px 0 rgba(red,0.7);
  }

  &:after {
      left: 1px;
      text-shadow: -1px 0 rgba(blue,0.7);
  }

  &:hover {
    &:before {
      text-shadow: 4px 0 rgba(red,0.7);
      animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
    }
    &:after {
      text-shadow: -5px 0 rgba(blue,0.7);
      animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
    }
  }
}

@keyframes glitch-loop-1 {
  0% { clip: rect(36px, 9999px, 9px, 0) }
  25% { clip: rect(25px, 9999px, 99px, 0) }
  50% { clip: rect(50px, 9999px, 102px, 0) }
  75% { clip: rect(30px, 9999px, 92px, 0) }
  100% { clip: rect(91px, 9999px, 98px, 0) }
}

@keyframes glitch-loop-2 {
  0% { top: -1px; left: 1px; clip: rect(65px, 9999px, 119px, 0) }
  25% { top: -6px; left: 4px; clip: rect(79px, 9999px, 19px, 0) }
  50% { top: -3px; left: 2px; clip: rect(68px, 9999px, 11px, 0) }
  75% { top: 0px; left: -4px; clip: rect(95px, 9999px, 53px, 0) }
  100% { top: -1px; left: -1px; clip: rect(31px, 9999px, 149px, 0) }
}



/*Social Media*/
.social-media-icon-nav {
 font-size:25px;
 text-align: vertical;
 /* filter: invert(100%); */
}

.social-media-icon-footer {
 font-size:20px;
 margin-left: 9px;
 filter: invert(100%);
}

.nav-social-media-button {
  font-size: 40px;
}

/* feature */
/* ul.polaroids a:after {
  content: attr(title);
  text-decoration: none;
} */

.polaroid {
  position: relative;
  width: 50%;
}

/* polaroid-1 */
.polaroid-1 img {
  border: 10px solid #fff;
  border-bottom: 75px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.polaroid-1 p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.polaroid-1:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* polaroid-2 */
.polaroid-2 img {
  border: 10px solid #fff;
  border-bottom: 75px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.polaroid-2 p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.polaroid-2:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}


/* polaroid-3 */
.polaroid-3 img {
  border: 10px solid #fff;
  border-bottom: 75px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

.polaroid-3 p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

.polaroid-3:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}


/* sections */
.content-section {
  padding-top: 10px;
}

no-padding {
  padding-left: 0;
  padding-right: 0;
}

a.article-link {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

a.article-link:hover {
  text-decoration: none;
  color: red;
}

p {
  font-size: 20px;
}

.btn {
  font-size: 18px;
}

h3, .title {
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

.description {
  margin: 5px;
}


h4 {
  font-size: 20px;
  color: white;
  font-family: 'Press Start 2P', 'Roboto Condensed', 'Coda Caption', sans-serif;
  margin: 40px 0 20px 0;
  padding: 10px 0px 10px 5px;
  background-color: black;
}

.article-image {
  width: 100%;
  height: auto;
}

/* Playlists */
.playlist {
  text-align: center;
}

.playlist-title {
  font-size: 20px;
  font-family: 'Press Start 2P', 'Roboto Condensed', 'Coda Caption', sans-serif;
}
/* #music {
  background-image: url('https://images.pexels.com/photos/164828/pexels-photo-164828.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-size: cover;
  max-width: 100%;
  height: auto;
} */


/* videos */
#videos {
  margin-bottom: 60px;
}

.video-player {
  text-align: center;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  filter: invert(100%);
  font-size: 20px;
  text-align: center;
}
