body {
  /* background: url('https://travellingprogrammer.files.wordpress.com/2013/01/dahi.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
  background-color: gray;
}

a {
 text-decoration: none;
 color: white;
 font-size:30px;
}
nav {
  margin: 20px 0;
  border-radius: 20px;
  padding: 0 10px;
  display: flex;
  background: black;
}
nav>ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
}
nav>ul li {
  list-style: none;
}

nav>ul li {
  color: white;
  padding: 10px;
  text-align: vertical;
  margin: auto;
  /* transition: .3s all; */
}
nav>ul li a:hover {
  color: blue;
  text-decoration: none;
  text-align: vertical;
}
.rightNav {
  margin-left: auto
}

.leftNav {
 margin-right: auto
}

.navItems {
 vertical-align: baseline;
}

.logo {
 filter: invert(100%);
}

.div-image-1 {
 display: flex;
}

.header-logo {
  align-items: center;
}


/* sections */
.content-section {
  padding-top: 10px;
}

/*Social Media*/
.social-media-icon {
 /* font-size:25px; */
 text-align: vertical;
 /* filter: invert(100%); */
}

.social-media-icon-footer {
 font-size:20px;
 margin-left: 9px;
 filter: invert(100%);
}

/* footer */
footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  filter: invert(100%);
  font-size: 20px;
  text-align: center;
}
