a {
  text-decoration: none;
 }
 nav {
   background: black;
   margin: 20px 0;
   border-radius: 20px;
   padding: 0 10px;
 }
 nav>ul {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   padding: 0;
 }
 nav>ul li {
   list-style: none;
 }
 nav>ul li a {
   color: white;
   padding: 10px;
   margin: 0 5px;
   border: 2px solid rgba(255, 255, 255, 0);
   border-radius: 20px;
   transition: .3s all;
 }
 nav>ul li a:hover {
   border: 2px solid #333;
   background: rgba(0, 0, 0, 0.3);
   color: white;
 }
 .rightnav {
   margin-left: auto
 }
 .navDiv nav {
   display: flex;
 }


/*Social Media*/
